@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Readex+Pro:wght@160..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
  color: var(--foreground);
  background: var(--background);
}

.redex{
  font-family: "Readex Pro", serif;
}

.crisis{
  font-family: "Climate Crisis", sans-serif;
}

.outfit{
  font-family: "Outfit", sans-serif;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 2rem;
}

.swiper-pagination-bullet {
  height: 9px !important;
  width: 31px !important;
  border-radius: 0 !important;
  background: #EBEBEB !important;
  opacity: 1 !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 94px !important;
  background: black !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
